$primary: #086de2;
$secondary: #131c30;

:root {
    --primary-hue: 212;
    --secondary-hue: 221;
    --color--primary: hsl(var(--primary-hue), 93%, 46%);
    --color--secondary: hsl(var(--secondary-hue), 43%, 13%);
    --color--primary--dark: hsl(var(--primary-hue), 26%, 23%);
    --color--primary--darker: hsl(var(--primary-hue), 75%, 21%);
}